{% extends "base.html" %}

{% block content %}

<section class="hero">

<h1>Your AI Business Co-Founder</h1>

<p>

Validate startup ideas.
Solve business problems.
Generate marketing strategies.
Create investor-ready business plans.
All powered by AI.

</p>

<a href="/idea-validator" class="start-btn">

Start Building

</a>

</section>

<section class="cards">

<a href="/idea-validator" class="card">

<i class="fa-solid fa-lightbulb"></i>

<h3>Idea Validator</h3>

<p>

Validate startup ideas and discover strengths,
weaknesses and opportunities.

</p>

</a>

<a href="/problem-solver" class="card">

<i class="fa-solid fa-screwdriver-wrench"></i>

<h3>Problem Solver</h3>

<p>

Receive practical solutions for startup and
business challenges.

</p>

</a>

<a href="/marketing" class="card">

<i class="fa-solid fa-chart-line"></i>

<h3>Marketing Assistant</h3>

<p>

Generate affordable marketing strategies,
content ideas and campaigns.

</p>

</a>

<a href="/business-plan" class="card">

<i class="fa-solid fa-file-lines"></i>

<h3>Business Planner</h3>

<p>

Create a complete business plan,
financial roadmap and growth strategy.

</p>

</a>

<a href="/history" class="card">

<i class="fa-solid fa-clock-rotate-left"></i>

<h3>History</h3>

<p>

View all your previous AI analyses and business reports.

</p>

</a>

</section>

{% endblock %}